<div class="col-md-12">
    <div class="row ">
        <div class="col-md-4">
            <form name="bankDetailsForm" class="form-horizontal" novalidate>
                <div class="col-md-12">
                    <div class="form-group" ng-class="{'has-error': bankDetailsForm.bankName.$invalid && (bankDetailsForm.bankName.$dirty || isSubmitted)}">
                        <label for="bankName">Bank Name*</label>
                        <input type="text" class="form-control" id="bankName" name="bankName" ng-model="bank.bankName" required/>
                        <span class="help-block form-hint"
                              ng-show="bankDetailsForm.bankName.$invalid && (bankDetailsForm.bankName.$dirty || isSubmitted)">
                            <span>Bank Name is required</span>
                        </span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': bankDetailsForm.address.$invalid && (bankDetailsForm.address.$dirty || isSubmitted)}">
                        <label for="address">Address*</label>
                        <textarea type="text" class="form-control" id="address" name="address" ng-model="bank.address" required></textarea>
                        <span class="help-block form-hint"
                              ng-show="bankDetailsForm.address.$invalid && (bankDetailsForm.address.$dirty || isSubmitted)">
                            <span>Address is required</span>
                        </span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': bankDetailsForm.city.$invalid && (bankDetailsForm.city.$dirty || isSubmitted)}">
                        <label for="city">City*</label>
                        <input type="text" class="form-control" id="city" name="city" ng-model="bank.city" required/>
                        <span class="help-block form-hint"
                              ng-show="bankDetailsForm.city.$invalid && (bankDetailsForm.city.$dirty || isSubmitted)">
                            <span>City is required</span>
                        </span>
                    </div>
                    <div class="form-group" ng-class="{'has-error': bankDetailsForm.state.$invalid && (bankDetailsForm.state.$dirty || isSubmitted)}">
                        <label for="state">State*</label>
                        <input type="text" class="form-control" id="state" name="state" ng-model="bank.state" required/>
                        <span class="help-block form-hint"
                              ng-show="bankDetailsForm.state.$invalid && (bankDetailsForm.state.$dirty || isSubmitted)">
                            <span>State is required</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="ifscNumber">Ifsc Number</label>
                        <input type="text" class="form-control" id="ifscNumber" name="ifscNumber" ng-model="bank.ifscNumber"/>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-6">
                            <button class="btn btn-default" type="button" ng-click="cancel();">Cancel</button>
                            <button class="btn btn-primary" type="button" ng-click="save();">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h1>Bank Details</h1>
            <div class="row">
                <div class="col-md-8 custom-pagination">
                    <div class="col-md-offset-3 col-md-3">
                        <div type="button" class="btn btn-default dropdown-toggle pagination-btn">
                            <a href="" ng-class="{'active': query.page != 1}" ng-click="gotoPage(query.page - 1);">
                                &#x025C4;&ensp;</a>
                            <span>{{query.page}} of {{totalPages}} </span>
                            <a href="" ng-class="{'active': query.page < totalPages}"
                               ng-click="gotoPage(query.page + 1);">&ensp;&#x025BA;</a>
                        </div>
                    </div>
                    <div class="leftmargin width-inline">
                        show
                    </div>
                    <div class="width-inline">
                        <div class="btn-group btn-input">
                            <button type="button" class="btn btn-default dropdown-toggle page-btn"
                                    data-toggle="dropdown">
                                <span data-bind="label">{{query.pageSize}}</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="pageSize in pageSizes" ng-class="{'active': (query.pageSize === pageSize)}" ng-click="resetPageSize(pageSize)">
                                    <a>{{pageSize}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="width-inline"> of {{totalRecords}}
                        <span ng-show="totalRecords > 1">results</span>
                        <span ng-show="totalRecords == 1">result</span>
                    </div>
                </div>
                <div class="col-md-4 inner-addon right-addon typeahead">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" ng-model="searchBank"
                           placeholder="BankName / IFSC no. / City"
                           uib-typeahead="bank.displayName for bank in searchForBank($viewValue)"
                           typeahead-on-select="selectedBank($item, $model, $label, $event)"
                           typeahead-loading="loading"
                           typeahead-no-results="noResults" class="form-control">
                    <div ng-show="noResults">No Results Found</div>
                </div>
            </div>
            <div class="row table-container">
                <table class="table data-table">
                    <thead>
                        <tr>
                            <th ng-repeat="field in bankFields">
                                <span ng-hide="field.isSortable" ng-class="{'cursor-default' : (false === field.isSortable) }">{{field.displayName}}&nbsp;</span>
                                <a ng-show="field.isSortable"
                                   ng-click="reverse=!reverse; order(field.name, reverse);">{{field.displayName}}&nbsp;
                                    <span class="order" ng-show="query.sort == field.name && reverse">&#9660;</span>
                                    <span class="order" ng-show="query.sort == field.name && !reverse">&#9650;</span></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="bank in banks track by $index">
                        <td><a href="javascript:void(0);" ng-click="editBank(bank);">{{bank.id}}</a></td>
                        <td>{{bank.bankName}}</td>
                        <td>{{bank.ifscNumber}}</td>
                        <td>{{bank.city}}</td>
                        <td>{{bank.state}}</td>
                        <td>{{bank.address}}</td>
                    </tr>
                    <tr ng-if="!banks.length">
                        <td colspan="4">No record found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>